@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

:root {
  --first-color: #9a50fc;
  --second-color: #0750d0;
  --gray-color: #8e8e8e;
  --black-color: #040402;
  --smoke-color: #f5f5f5;
  --purple-color: #110719;
  --white-color: #ffffff;
  --border-color: #101010;
}
.effect-title {
  background-image: linear-gradient(
    45deg,
    var(--first-color) 15%,
    var(--second-color) 65%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}
.btn-gradient {
  display: flex;
  align-items: center;
  border: 2px solid var(--first-color);
  padding: 8px 30px;
  color: var(--smoke-color);
  font-weight: 400;
  text-decoration: none;
  &:hover {
    background: linear-gradient(
      45deg,
      var(--first-color) 15%,
      var(--second-color) 65%
    );
    color: var(--smoke-color) !important;
  }
}

.fa-shopping-cart {
  color: var(--smoke-color);
  margin-left: 10px;
  opacity: 0.8;
  &:hover {
    color: linear-gradient(
      45deg,
      var(--first-color) 15%,
      var(--second-color) 65%
    );
  }
}
.fa-search {
  color: var(--smoke-color);
  opacity: 0.8;
  &:hover {
    color: linear-gradient(
      45deg,
      var(--first-color) 15%,
      var(--second-color) 65%
    );
  }
}

body {
  background: #f9f9f9;
  font-family: "Titillium Web", sans-serif;
  background: var(--black-color);
}

/* ===== HEADER ===== */
header {
  background: transparent;
  color: var(--smoke-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 17px 32px;
    .left-header {
      display: flex;
      flex-basis: auto;
      .logo {
        a {
          color: var(--smoke-color);
          text-decoration: none;
          padding: 0;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 0;
          .version {
            margin: 0 0 0 5px;
            font-size: 12px;
          }
        }
      }
    }
    .right-header {
      display: flex;
      flex-basis: auto;
      ul {
        display: flex;
        align-items: center;
        margin: 0;
        .list {
          list-style: none;
          margin-right: 29px;
          &:nth-last-child(1) {
            margin-right: 0;
          }
          &:nth-last-child(2) {
            margin-right: 10px;
          }
          a {
            color: var(--smoke-color);
            outline: 0;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 600;
            transition: color 300ms ease;
            &.active {
              span {
                position: relative;
                &::before {
                  content: "";
                  width: 100%;
                  height: 3px;
                  background: var(--second-color);
                  position: absolute;
                  bottom: -5px;
                  transform: skew(-50deg);
                }
              }
            }
            &:hover {
              color: var(--smoke-color);
              opacity: 0.7;
            }
          }
          .language {
            display: flex;
            align-items: center;
            border: 2px solid var(--first-color);
            color: var(--smoke-color);
            padding: 8px 13px 8px 12px;
            margin-right: 0;
            img {
              margin-right: 5px;
            }
            &:hover {
              background: linear-gradient(
                45deg,
                var(--first-color) 15%,
                var(--second-color) 65%
              );
              color: var(--smoke-color);
            }
          }
          .bell {
            position: relative;
            img {
              max-width: 24px;
            }
          }
        }
      }
    }
  }

  .mobile-menu {
    #menu-toggle {
      opacity: 0;
      &:checked {
        ~ {
          .menu-btn {
            > span {
              transform: rotate(45deg);
              &::before {
                top: 0;
                transform: rotate(0);
              }
              &::after {
                top: 0;
                transform: rotate(90deg);
              }
            }
          }
          .social-section {
            position: fixed;
            bottom: 0;
            display: flex;
            width: 90%;
            ul {
              display: flex;
              justify-content: space-between;
              list-style: none;
              width: 90%;
              .mobile-social {
                a {
                  color: var(--smoke-color);
                  text-decoration: none;
                  &:hover {
                    color: var(--first-color);
                  }
                }
              }
            }
          }
          .menu__box {
            visibility: visible;
            left: 0;
          }
        }
      }
    }
    .menu-btn {
      display: flex;
      align-items: center;
      position: absolute;
      right: 10px;
      top: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
      > span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--smoke-color);
        transition-duration: 0.25s;
        &::before {
          display: block;
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: var(--smoke-color);
          transition-duration: 0.25s;
          content: "";
          top: -8px;
        }
        &::after {
          display: block;
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: var(--smoke-color);
          transition-duration: 0.25s;
          content: "";
          top: 8px;
        }
      }
    }
    .menu__box {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: -100%;
      width: 90%;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: var(--black-color);
      box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
      transition-duration: 0.25s;
      .contact-us-mobile {
        color: var(--smoke-color);
        outline: 0;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      .logo {
        position: absolute;
        top: 24px;
        left: 20px;
        a {
          color: var(--smoke-color);
          text-decoration: none;
          padding: 0;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 0;
          .version {
            margin: 0 0 0 5px;
            font-size: 12px;
          }
        }
      }
    }
    .social-section {
      display: none;
    }
    .menu-item {
      display: block;
      padding: 12px 24px;
      color: var(--smoke-color);
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: 0.25s;
      border-bottom: 1px solid #ddd;
      &:hover {
        background-image: linear-gradient(
          45deg,
          var(--first-color) 15%,
          var(--second-color) 65%
        );
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1040px) {
  header {
    .navbar {
      padding-bottom: 0;
      .left-header {
        ul {
          display: none !important;
        }
      }
      .right-header {
        display: none !important;
      }
    }
  }
}

@media screen and (min-width: 1040px) {
  .mobile-menu {
    display: none;
  }
}

/*  ===== SLIDER  ===== */

.section-slider {
  background: var(--black-color);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  &:hover {
    cursor: col-resize;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: var(--black-color);
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .content {
        position: absolute;
        top: 42%;
        left: 15%;
        &::before {
          content: "";
          position: absolute;
          top: -20px;
          left: -25px;
          background: #090611;
          width: 205px;
          height: 90px;
          opacity: 0.7;
          z-index: 1;
        }
        .number {
          color: var(--smoke-color);
          position: absolute;
          top: -17px;
          left: -18px;
          font-size: 15px;
          font-weight: 600;
          z-index: 10;
        }
        .hood {
          position: relative;
          margin-bottom: 30px;
          line-height: 1;
          font-size: 48px;
          padding-bottom: 0.1em;
          font-weight: 500;
          color: var(--smoke-color);
          z-index: 10;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          text-align: start;
        }
        .watch-button {
          position: absolute;
          bottom: -35px;
          left: -18px;
          display: flex;
          align-items: center;
          font-size: 15px;
          font-weight: 600;
          height: 45px;
          padding: 18px 25px;
          z-index: 1;
          border-radius: 1px;
          text-decoration: none;
          background: linear-gradient(
            120deg,
            var(--first-color) 5%,
            var(--second-color) 55%
          );
          color: var(--smoke-color);
          &:hover {
            background: linear-gradient(
              120deg,
              var(--second-color) 5%,
              var(--first-color) 55%
            );
          }
        }
      }
    }
    .slider-pag {
      position: relative;
      left: 20%;
      bottom: 80px;
      .swiper-button-next {
        color: var(--gray-color);
        position: absolute;
        top: -8px;
        left: 170px;
        &::after {
          font-size: 25px;
        }
      }
      .swiper-button-prev {
        position: absolute;
        top: -8px;
        left: -35px;
        color: var(--gray-color);
        &::after {
          font-size: 25px;
        }
      }
      .swiper-pagination-bullet {
        position: relative;
        bottom: 20px;
        width: 36px;
        height: 26px;
        text-align: center;
        line-height: 20px;
        font-weight: 600;
        font-size: 16px;
        border-radius: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        color: var(--smoke-color);
        opacity: 1;
        background: var(--second-color);
        transform: skew(-10deg);
        margin: 0 7px !important;
        &::after {
          transition: transform 600ms ease;
          content: "";
          position: absolute;
          top: 50%;
          right: -8px;
          margin-top: -1px;
          width: 1px;
          height: 20px;
          background: var(--smoke-color);
          margin-top: -10px;
          transform-origin: 0% 50%;
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
      }
      .swiper-pagination-bullet-active {
        color: var(--smoke-color);
        background: var(--first-color);
        margin-right: 20px !important;
        margin-left: 7px !important;
        &::after {
          transition: transform 600ms ease;
          content: "";
          position: absolute;
          top: 50%;
          right: -15px;
          margin-top: -1px;
          width: 1px;
          height: 20px;
          background: var(--smoke-color);
          margin-top: -10px;
          transform: rotate(90deg);
          transform-origin: 0% 50%;
        }
        &:last-child {
          margin: 0 7px !important;
          &::after {
            display: none;
          }
        }
      }
    }

    .social-media {
      position: fixed;
      bottom: 35px;
      left: 0;
      z-index: 1;
      ul {
        list-style: none;
        .list {
          text-decoration: none;
          padding: 5px 0;
          font-size: 20px;
          color: var(--smoke-color);
          a {
            color: var(--smoke-color);
            &:hover {
              color: var(--first-color);
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 768px) {
  .social-media {
    display: none;
  }
  .empty-br {
    display: none;
  }
}

/*  ===== Section News  ===== */
.section-news {
  .bg-news {
    background: var(--purple-color);
    .widget {
      background: var(--border-color);
      border-color: var(--gray-color);
      padding: 50px;
      text-align: center;
      margin: 20px;
      max-height: 320px;
      border: 1px solid rgba(100, 99, 100, 0.3);
      transition: all 500ms ease;
      &:hover {
        background: linear-gradient(
          45deg,
          var(--first-color) 15%,
          var(--second-color) 65%
        );
      }
      svg {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 70px;
        color: var(--smoke-color);
      }
      .hood {
        font-size: 30px;
        font-weight: 600;
        color: var(--white-color);
        margin: 14px 0;
      }
      .text {
        font-size: 16px;
        color: var(--smoke-color);
        font-weight: 500;
      }
    }
  }
}

/* ======= */
.game-video {
  padding: 80px 0;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 380px;
    .hood {
      font-size: 45px;
      font-weight: 500;
      color: var(--white-color);
    }
    .text {
      margin: 16px 0;
      font-size: 18px;
      color: var(--smoke-color);
    }
    .read-more {
      text-decoration: none;
      color: var(--white-color);
      font-size: 18px;
      font-weight: 600;
      position: relative;
      span {
        &::before {
          content: "";
          width: 10%;
          height: 3px;
          background: var(--second-color);
          position: absolute;
          bottom: -5px;
          left: 0;
          transform: skew(-50deg);
          z-index: 1;
        }
      }
    }
  }
  .game-image {
    img {
      width: 100%;
    }
  }
}

/*===========*/
.section-swiper {
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  .swiper-container {
    margin: 50px 0;
    height: 45vh;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
      }
      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--black-color);
        width: 100%;
        padding: 10px;
        .play {
          display: flex;
          flex-direction: column;
          text-align: start;
          .groups {
            font-size: 16px;
            color: var(--white-color);
          }
          .players {
            color: var(--second-color);
            font-size: 20px;
            font-weight: 700;
          }
        }
        .prize {
          display: flex;
          flex-direction: column;
          text-align: start;
          .prize-pool {
            font-size: 16px;
            color: var(--white-color);
          }
          .dollars {
            color: var(--second-color);
            font-size: 20px;
            font-weight: 700;
          }
        }
        .time {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          height: 100%;
          font-size: 12px;
          color: var(--white-color);
        }
      }
    }
    .swiper-button-next {
      color: var(--gray-color);
      position: absolute;
    }
    .swiper-button-prev {
      position: absolute;
      color: var(--gray-color);
    }
  }
}

/* =========== */
.latest-match {
  .match-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .hood {
      font-size: 40px;
      color: var(--white-color);
      font-weight: 500;
    }
    ul {
      list-style: none;
      display: flex;
      .list {
        cursor: pointer;
        margin-right: 16px;
        font-size: 14px;
        padding: 5px;
        transform: skew(-10deg);
        color: var(--smoke-color);
        user-select: none;
      }
      .active {
        background: var(--second-color);
      }
    }
  }
  .product {
    margin-bottom: 50px;
    .itembox {
      background: var(--purple-color);
      border-bottom: 1px solid var(--gray-color);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      &:hover {
        background: linear-gradient(
          45deg,
          var(--first-color) 15%,
          var(--second-color) 65%
        );
      }
      .first-team {
        display: flex;
        flex-direction: column;
        background: rgba(9, 6, 17, 0.7);
        padding: 20px 25px;
        justify-content: center;
        align-items: center;
        img {
          max-width: 80px;
          max-height: 80px;
          width: auto;
          height: auto;
          margin-bottom: 8px;
        }
        .clicklav {
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 8px;
          color: var(--white-color);
        }
        .number {
          font-size: 18px;
          color: var(--first-color);
        }
      }
      .and {
        height: 100%;
        font-size: 18px;
        color: var(--white-color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
      }
      .second-team {
        display: flex;
        flex-direction: column;
        background: rgba(9, 6, 17, 0.7);
        padding: 20px 25px;
        justify-content: center;
        align-items: center;
        img {
          max-width: 80px;
          max-height: 80px;
          width: auto;
          height: auto;
          margin-bottom: 8px;
        }
        .clicklav {
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 8px;
          color: var(--white-color);
        }
        .number {
          font-size: 18px;
          color: var(--first-color);
        }
      }
      .team-title {
        display: flex;
        flex-direction: column;
        .team-hood {
          font-size: 22px;
          font-weight: 700;
          color: var(--white-color);
          text-transform: uppercase;
        }
        .team-date {
          font-size: 16px;
          font-weight: 600;
          color: var(--white-color);
          text-transform: uppercase;
        }
      }
      .team-twitch {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          color: var(--white-color);
          margin-right: 10px;
        }
        .twitch-stream {
          color: var(--white-color);
          font-size: 16px;
        }
      }
    }
  }
}

.banner-image {
  background-image: url("https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img14.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 500px;
  margin-bottom: 60px;
  position: relative;
  .content {
    position: absolute;
    top: 42%;
    left: 15%;
    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: -25px;
      background: #090611;
      width: 205px;
      height: 90px;
      opacity: 0.7;
      z-index: 1;
    }
    .hood {
      position: relative;
      margin-bottom: 30px;
      line-height: 1;
      font-size: 48px;
      padding-bottom: 0.1em;
      font-weight: 500;
      color: var(--smoke-color);
      z-index: 10;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: start;
      font-weight: 600;
    }
    .text {
      font-size: 18px;
      font-weight: 600;
      color: var(--white-color);
      margin: 30px 0;
    }
    .watch-button {
      position: absolute;
      bottom: -35px;
      left: 0;
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 600;
      height: 45px;
      padding: 18px 25px;
      z-index: 1;
      border-radius: 1px;
      text-decoration: none;
      background: linear-gradient(
        120deg,
        var(--first-color) 5%,
        var(--second-color) 55%
      );
      color: var(--smoke-color);
      &:hover {
        background: linear-gradient(
          120deg,
          var(--second-color) 5%,
          var(--first-color) 55%
        );
      }
    }
  }
}

.social-share {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .community-social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .widget {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;
      svg {
        width: 50px;
        color: var(--white-color);
      }
      .points {
        font-size: 34px;
        margin: 10px 0;
        font-weight: 700;
        color: var(--white-color);
      }
      .title {
        font-size: 18px;
        font-weight: 400;
        color: var(--white-color);
      }
    }
  }
}

footer{
  background: var(--purple-color);
  padding: 10px 0;
  .copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text{
      color: var(--white-color);
      font-size: 15px;
      font-weight: 600;
    }
    .copy-right{
      display: flex;
      justify-content: flex-end;
    }
  }
}