@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root{
    --first-color: #a1052c;
    --second-color: #0750d0;
    --gray-color: #8E8E8E;
    --black-color: #040402;
    --smoke-color: #F5F5F5;
}
.effect-title{
    background-image: linear-gradient(45deg, var(--first-color) 15%, var(--second-color)  65%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
}
.btn-gradient{
    display: flex;
    align-items: center;
    border: 2px solid var(--first-color);
    padding: 8px 30px;
    color: var(--smoke-color);
    font-weight: 400;
    text-decoration: none;
    &:hover{
        background: linear-gradient(45deg, var(--first-color) 15%, var(--second-color)  65%);
        color: var(--smoke-color) !important;
    }
}

.fa-shopping-cart{
    color: var(--smoke-color);
    margin-left: 10px;
    opacity: 0.8;
    &:hover{
        color: linear-gradient(45deg, var(--first-color) 15%, var(--second-color)  65%);
    }
}
.fa-search{
    color: var(--smoke-color);
    opacity: 0.8;
    &:hover{
        color: linear-gradient(45deg, var(--first-color) 15%, var(--second-color)  65%);
    }
}

body{
    background: #F9F9F9;
    font-family: 'Titillium Web', sans-serif;
    background: var(--black-color);
}

/* ===== HEADER ===== */
header{
    background: transparent;
    color: var(--smoke-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 17px 32px;
        .left-header{
            display: flex;
            flex-basis: auto;
            .logo{
                a{
                    color: var(--smoke-color);
                    text-decoration: none;
                    padding: 0;
                    font-size: 1.5rem;
                    font-weight: 600;
                    line-height: 0;
                    .version{
                        margin: 0 0 0 5px;
                        font-size: 12px;
                    }
                }
            }
        }
        .right-header{
            display: flex;
            flex-basis: auto;
            ul{
                display: flex;
                align-items: center;
                margin: 0;
                .list{
                    list-style: none;
                    margin-right: 29px;
                    &:nth-last-child(1){
                        margin-right: 0;
                    }
                    &:nth-last-child(2){
                        margin-right: 10px;
                    }
                    a{
                        color: var(--smoke-color);
                        outline: 0;
                        text-decoration: none;
                        font-size: 1rem;
                        font-weight: 600;
                        &:hover{
                            color: #EA5607;
                        }
                    }
                    .language{
                        display: flex;
                        align-items: center;
                        border: 2px solid var(--first-color);
                        color: var(--smoke-color);
                        padding: 8px 13px 8px 12px;
                        margin-right: 0;
                        img{
                            margin-right: 5px;
                        }
                        &:hover{
                            background: linear-gradient(45deg, var(--first-color) 15%, var(--second-color)  65%);
                            color: var(--smoke-color);
                        }
                    }
                    .bell{
                        position: relative;
                        img{
                            max-width: 24px;
                        }
                    }
                }
            }
        }
    }

    .mobile-menu{
        #menu-toggle {
            opacity: 0;
            &:checked {
                ~ {
                    .menu-btn {
                        >span {
                            transform: rotate(45deg);
                            &::before {
                                top: 0;
                                transform: rotate(0);
                            }
                            &::after {
                                top: 0;
                                transform: rotate(90deg);
                            }
                        }
                    }
                    .social-section{
                        position: fixed;
                        bottom: 0;
                        display: flex;
                        width: 90%;
                        ul{
                            display: flex;
                            justify-content: space-between;
                            list-style: none;
                            width: 90%;
                            .mobile-social{
                                a{
                                    color: var(--smoke-color);
                                    text-decoration: none;
                                    &:hover{
                                        color: var(--first-color);
                                    }
                                }
                            }
                        }
                    }
                    .menu__box {
                        visibility: visible;
                        left: 0;
                    }
                }
            }
        }
        .menu-btn {
            display: flex;
            align-items: center;
            position: absolute;
            right: 10px;
            top: 20px;
            width: 26px;
            height: 26px;
            cursor: pointer;
            z-index: 1;
            >span {
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: var(--first-color);
                transition-duration: .25s;
                &::before {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: var(--first-color);
                    transition-duration: .25s;
                    content: '';
                    top: -8px;
                }
                &::after {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: var(--first-color);
                    transition-duration: .25s;
                    content: '';
                    top: 8px;
                }
            }
        }
        .menu__box {
            display: block;
            position: fixed;
            visibility: hidden;
            top: 0;
            left: -100%;
            width: 90%;
            height: 100%;
            margin: 0;
            padding: 80px 0;
            list-style: none;
            background-color: var(--black-color);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
            transition-duration: .25s;
            .contact-us-mobile{
                color: var(--smoke-color);
                outline: 0;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 600;
                margin: 20px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
            .logo{
                position: absolute;
                top: 24px;
                left: 20px;
                a{
                    color: var(--smoke-color);
                    text-decoration: none;
                    padding: 0;
                    font-size: 1.5rem;
                    font-weight: 600;
                    line-height: 0;
                    .version{
                        margin: 0 0 0 5px;
                        font-size: 12px;
                    }
                }
            }
        }
        .social-section{
           display: none;
        }
        .menu-item {
            display: block;
            padding: 12px 24px;
            color: var(--smoke-color);
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            transition-duration: .25s;
            border-bottom: 1px solid #ddd;
            &:hover {
                background-image: linear-gradient(45deg, var(--first-color) 15%, var(--second-color)  65%);
                color: #fff;
            }
        }
        
    }
}

@media screen and (max-width: 1040px){
    header{
        .navbar{
            padding-bottom: 0;
            .left-header{
                ul{
                    display: none !important;
                }
            }
            .right-header{
                display: none !important;
            }
        }
    }
}

@media screen and (min-width: 1040px){
    .mobile-menu{
        display: none;
    }
}

.section-slider{
    .slider-image-1{
        width: 100%;
        height: 100vh;
    }
}